<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div>
<!--                <div class="col-lg-12 text-center"> About Me 가운데 정렬 해제 위해 주석처리 후 위에 div 추가2-->
                    <h2 class="section-heading">About Me</h2>
<!--                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>-->
                </div>
<!--            </div>-->
<!--            <div class="row text-center">-->
                <div class="col-md-4">
<!--                    <span class="fa-stack fa-4x">-->
<!--                        <i class="fa fa-circle fa-stack-2x text-primary"></i>-->
<!--                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>-->
<!--                    </span>-->
                    <h4 class="service-heading">iOS Developer</h4>
                    <p class="text-muted">안녕하세요! 저는 7개월 경력의 신입 개발자 정미래입니다. iOS App Dev Tutorials, Swift Documentation, Swift Programming Language book, WWDC  영상을 통해 독학으로 iOS 개발 공부를 하였습니다. 계속해서 iOS 분야의 지식을 확장하기 위해, 최근에는 Stanford 의 iOS 앱 개발 강의를 듣기 시작했습니다. 그뿐만 아니라 개인 프로젝트를 통해 실제로 앱이 작동하는 방식에 대해 고민해 보고 원하는 기능을 구현해 보기도 하였습니다. iOS 개발을 시작하기 전에는 KH 정보 교육원에서 Java 개발자 관련 과정 수업을 수강하기도 하였습니다. 이를 통해, 객체지향 프로그래밍과 데이터베이스 설계에 대한 기본 지식을 습득하고, 여러 도전과제들을 해결하면서 문제해결능력을 키우고, 팀워크를 위한 의사소통 능력도 높였습니다. 저는 새로운 기술에 대한 관심이 많으며, 최신 동향을 파악하고 이를 기반으로 개발에 적용하는 것을 좋아합니다.
                    그리고 항상 사용자의 입장에서 생각하며 개발하는 것을 지향합니다. 최선을 다해 일하겠습니다. 감사합니다.</p>
                </div>
                
                
<!--                <div class="col-md-4">-->
<!--                    <span class="fa-stack fa-4x">-->
<!--                        <i class="fa fa-circle fa-stack-2x text-primary"></i>-->
<!--                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>-->
<!--                    </span>-->
<!--                    <h4 class="service-heading">Responsive Design</h4>-->
<!--                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>-->
<!--                </div>-->
<!--                <div class="col-md-4">-->
<!--                    <span class="fa-stack fa-4x">-->
<!--                        <i class="fa fa-circle fa-stack-2x text-primary"></i>-->
<!--                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>-->
<!--                    </span>-->
<!--                    <h4 class="service-heading">Web Security</h4>-->
<!--                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>-->
<!--                </div>-->
<!--            </div>-->
        </div>
            <br>
            <br>
            <div class="row">
                <div>
<!--                <div class="col-lg-12 text-center"> About Me 가운데 정렬 해제 위해 주석처리 후 위에 div 추가2-->
                    <h2 class="section-heading">Work Experiences </h2>
<!--                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>-->
                </div>
<!--            </div>-->
<!--            <div class="row text-center">-->
                <div class="col-md-4">
<!--                    <span class="fa-stack fa-4x">-->
<!--                        <i class="fa fa-circle fa-stack-2x text-primary"></i>-->
<!--                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>-->
<!--                    </span>-->
                    <h4 class="service-heading">Detail</h4>
                    <p class="text-muted">저는 iOS 앱 개발 분야에서 7개월 동안 경력을 쌓았습니다. 이 기간 동안, Objective-C와 Swift를 사용하여 iOS 앱 개발 및 유지보수에 참여하였으며, iOS 프레임워크와 관련된 기술들에 대한 이해도를 높였습니다.<br>
                    예를 들어, 사진을 한 장씩 업로드 해야하는 번거로움으로 인해 사용자들이 불편함을 느껴, 여러장의 사진을 한번에 선택하여 업로드할 수 있는 기능이 필요하다는 요구가 있었습니다. 이를 해결하기 위해, PHPickerViewController 클래스를 사용하여 여러장의 사진을 한꺼번에 선택 후 업로드할 수 있는 로직을 구현하였습니다. 기존 프로젝트가 Objective-C 언어로 작성되었고 PHPickerViewController 클래스를 사용하기 위해서는 Swift 파일을 사용해야 했기 때문에, Objective-C 파일과 Swift 파일 간의 연동이 필요했습니다. 이를 위해, Bridging Header를 추가하는 등 Swift 클래스를 Objective-C 클래스에서 사용할 수 있도록 하는 작업을 수행하기도 했습니다. 이러한 경험을 바탕으로, Objective-C와 Swift를 함께 사용하여 앱을 개발할 수 있는 능력을 보유하고 있습니다. 또한, Alamofire 라이브러리를 사용하여 서버에 이미지를 업로드하는 로직도 구현해 보았습니다. 업로드 전 이미지의 용량을 줄여, 대용량 이미지를 업로드할 때 발생할 수 있는 네트워크 속도 저하를 방지하고, 서버 스토리지 사용량을 줄일 수 있었습니다.
                    위와 같은 작업을 통해 앱 개발에서 사용자 친화적인 인터페이스를 제공하는 것이 얼마나 중요한지를 직접 느껴볼 수 있었습니다. PHPickerViewController를 적용한 것과 같이 새로운 기술을 습득하고 적용하는 능력은 강점 중 하나입니다.<br>
                    비콘 신호를 탐지하여 특정 위치에서만 기능을 이용할 수 있도록 하는 로직을 구현하는 개발에도 참여했습니다. DB에서 받아 온 특정 정보를 이용하여 사용자가 특정 위치에 있는 것을 확인하는 로직을 작성했습니다.
                    또, 국내 보안 솔루션 업체에서 제공하는 API를 활용하여, iOS 앱에서 보안 기능을 구현하는 프로젝트를 수행하며 보안과 개인정보 보호에 대한 중요성을 인식하기도 하였습니다.
                    Git 버전관리 시스템을 사용하여 외부 개발자와의 협업 개발을 경험하기도 하였습니다.</p>
                </div>
            </div>
            
            <br>
            <br>
            <div class="row">
                <div>
<!--                <div class="col-lg-12 text-center"> About Me 가운데 정렬 해제 위해 주석처리 후 위에 div 추가2-->
                    <h2 class="section-heading">Skills</h2>
<!--                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>-->
                </div>
<!--            </div>-->
<!--            <div class="row text-center">-->
                <div class="col-md-4">
<!--                    <span class="fa-stack fa-4x">-->
<!--                        <i class="fa fa-circle fa-stack-2x text-primary"></i>-->
<!--                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>-->
<!--                    </span>-->
                    <h4 class="service-heading">Languages, Frameworks, Tools</h4>
                    <p class="text-muted">
                    <a class="page-scroll btn btn-xl">Swift</a>
                    <a class="page-scroll btn btn-xl">Objective-C</a>
                    <a class="page-scroll btn btn-xl">SwiftUI</a>
                    <a class="page-scroll btn btn-xl">Notion</a>
                    <a class="page-scroll btn btn-xl">Figma</a>
                    <a class="page-scroll btn btn-xl">MVC</a>
                    <a class="page-scroll btn btn-xl">Alamofire</a>
                    <a class="page-scroll btn btn-xl">Git</a><br><br>
                    <a class="page-scroll btn btn-xl">CocoaPods</a>
                    <a class="page-scroll btn btn-xl">MSSQL</a>
                    <a class="page-scroll btn btn-xl">JavaScript</a>
                    <a class="page-scroll btn btn-xl">HTML</a>
                    <a class="page-scroll btn btn-xl">CSS</a>
                    
                    </p>
                </div>
            </div>
            
            <br>
            <br>
<!--            <div class="row">-->
<!--                <div>-->
<!--<!--                <div class="col-lg-12 text-center"> About Me 가운데 정렬 해제 위해 주석처리 후 위에 div 추가2-->
<!--                    <h2 class="section-heading">Education</h2>-->
<!--<!--                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>-->
<!--                </div>-->
<!--<!--            </div>-->
<!--<!--            <div class="row text-center">-->
<!--                <div class="col-md-4">-->
<!--<!--                    <span class="fa-stack fa-4x">-->
<!--<!--                        <i class="fa fa-circle fa-stack-2x text-primary"></i>-->
<!--<!--                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>-->
<!--<!--                    </span>-->
<!--                    <h4 class="service-heading">-------------------------------------</h4>-->
<!--                    <p class="text-muted">-->
<!--                    -->
<!--                    -->
<!--                    -->
<!--                    -->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->
    </section>
